
#cakeFactory {
    padding: 40px 15px;
}

.relativeContainer {
    position: relative;
}
.placerWindow {
    background-color: #c1c3e3;
    border:1px solid #9e9e9e;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    display:block;
    overflow:auto;
}

.cakePlacer {
    position: absolute;
    left: 0;
    top: 0;
}

.cakeTile {
    position: absolute;
    border:1px solid #9e9e9e;
}

.cakeTilePlaceholder {
    float: left;
    margin: 10px;
}

.factoryTile {
    width: 150px;
    height: 180px;
}

.cakeFactoryInterface {
    margin: 40px 0 0;
    width: 100%;
    overflow:auto;
}

.placerTitle {
    clear: both;
}

.cakeFactoryInterface .cakeFactoryInfo {
    float: left;
}

.cakeFactoryInterface .cakeFactoryButton {
    float: right;
}