
body {
    background-color: #edeef6;
    font-family: "Lato",sans-serif;
}

#header {
    background-color: white;
    width:100%;
    border:1px solid #9e9e9e;
}

#header img{
    display: block;
    margin: auto;
}

#subHeader h1{
    background-color: #c1c3e3;
    color: #edeef6;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: #c1c3e3;
    border:1px solid #9e9e9e;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size:18px;
    padding:12px 18px;
}

button:hover {
    color: #edeef6;
    cursor: pointer;
}

button.disabled, button.disabled:hover{
    color: #c1e1f6;
    cursor: auto;
}


.interface {
    margin: 40px 15px;
    padding: 15px 15px;
    background-color: #c1c3e3;
    border:1px solid #9e9e9e;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:block;
    overflow:auto;
}


/*Thank you Screen*/

#thankYou h2{
    background-color: #c1c3e3;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#thankYou .interface p {
    color: #FFFFFF;
    text-align: center;
}

#thankYou #jsonResult {
    width: 200px;
    text-align: center;
    margin: auto;
}

textarea#jsonTextArea
{
    width:100%;
}
.textwrapper
{
    margin:5px 0;
    padding:3px;
}

.interface button {
    background-color: #edeef6;
    color: #c1c3e3;
}

.interface button:hover {
    color: #FFFFFF;
}
#thankYou .interface button{
    margin-right: 12px;
}